@use '../global' as *;

.c-btn {
  width: calc(300 * var(--to-rem));
  height: calc(60 * var(--to-rem));
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  font-size: prem(20);
  line-height: calc(33 / 20);
  color: var(--color-white);
  background-color: var(--color-accent);
  transition: .3s;
}

.c-btn:hover {
  @include mq(md){
      color: var(--color-accent);
      background-color: var(--color-white);
      opacity: 1;
      border: 1px solid var(--color-accent);
  }
}

