@use '../global' as *;


.p-blog {

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(32 * var(--to-rem));
    margin-block-start: calc(38 * var(--to-rem));

    @include mq(md) {
      grid-template-columns: repeat(auto-fill, minmax(calc(260 * var(--to-rem)), 1fr));
      gap: calc(50 * var(--to-rem)) calc(50 * var(--to-rem));
    }
  }

  &__item {
    position: relative;
  }

  &__item-link {
    display: flex;
    flex-direction: column;
    gap: calc(16 * var(--to-rem));
    text-decoration: none;
    color: var(--color-text);
    transition: opacity var(--duration);

    &:hover {
      opacity: 0.7;
      img {
        transform: scale(1.1);
      }
    }

    @include mq(md) {
      gap: calc(20 * var(--to-rem));
    }
  }

  &__item-img {
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 260 / 200;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }

  &__item-body {
    display: flex;
    flex-direction: column;
    gap: calc(11 * var(--to-rem));
  }

  &__item-category {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: calc(4 * var(--to-rem)) calc(24 * var(--to-rem));
    font-size: calc(15 * var(--to-rem));
    font-weight: var(--fw-bold);
    color: var(--color-white);
    background-color: var(--color-accent);
    letter-spacing: 0.05em;
    z-index: 1;
  }

  &__item-date {
    font-size: calc(17 * var(--to-rem));
    color: var(--color-text);
    text-align: right;
  }

  &__item-title {
    font-size: calc(18 * var(--to-rem));
    font-weight: var(--fw-bold);
    line-height : calc(25 / 20);
    font-family: "YuGothic";

    @include mq(md) {
      font-size: calc(20 * var(--to-rem));
    }
  }

  &__item-excerpt {
    font-size: calc(13 * var(--to-rem));
    color: #666;
    line-height: 1.7;

    @include mq(md) {
      font-size: calc(14 * var(--to-rem));
    }
  }

  &__empty {
    text-align: center;
    color: #888;
  }

  &__cta {
    margin-block-start: calc(48 * var(--to-rem));
    text-align: right;
    text-decoration: underline;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    } 
  }
}
